<ion-header>
    <!-- Sidemenu will show with this code. Inessa Rif 1901057 -->
  <ion-toolbar>
    <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
    </ion-buttons>
  <ion-title>
    Soft Skills
  </ion-title>
</ion-toolbar>
</ion-header>

<ion-content>
    <!-- ion-checkbox components below. -->
  <ion-item>
    <ion-label>Good communication skills <div></div>gained through my experience <div></div>as coach and events organizer
    </ion-label>
    <ion-checkbox color="primary" checked slot="start"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Independently or <div></div>Teamwork - no problem!</ion-label>
    <ion-checkbox color="primary" checked slot="start"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Thanks to Sport - I'm used to <div></div>working under pressure</ion-label>
    <ion-checkbox color="primary" checked slot="start"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Responsibility</ion-label>
    <ion-checkbox color="primary" checked slot="start"></ion-checkbox>
  </ion-item>
</ion-content>
