<ion-header>
    <!-- ion-buttons component. Inessa Rif 1901057 -->
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>verify-email</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <p>
        Please check your email and click on the link to verfiy your email address.
      </p>
      </ion-row>
      <ion-row>
      <ion-button type="submit" (click)="authService.SendVerificationMail()" expand="block">
        Resend Verification Email
      </ion-button>
      </ion-row>
      <ion-row>
        <ion-col> 
          <ion-button [routerLink]="['/login']"expand="block">Login</ion-button>
        </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>

