<ion-header>
    <!-- Sidemenu will show with this code. Inessa Rif 1901057 -->
  <ion-toolbar>
    <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
    </ion-buttons>
  <ion-title>
    Team Project
  </ion-title>
</ion-toolbar>
</ion-header>

<ion-content>
    <!-- ion-toggle components below. -->
  <ion-list>
    <ion-item>
      <ion-label>Simple App design and <div></div> development. Spring 2020.
      </ion-label>
      <ion-toggle></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Events organizer since 2012</ion-label>
      <ion-toggle></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Marketing projects (social media)<div></div>since 2017</ion-label>
      <ion-toggle></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>
