<ion-header>
    <!-- Sidemenu will show with this code. Inessa Rif 1901057 -->
  <ion-toolbar>
    <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
    </ion-buttons>
  <ion-title>
    Personal Profile
  </ion-title>
</ion-toolbar>
</ion-header>

<ion-content>
    <!-- ion-card component. -->
<ion-card>
  <img src="../../assets/photo/kuva.jpg" />
  <ion-card-header>
    <ion-card-title>Rif Inessa</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    I am a second-year IT student.
    My background is in the sports field - 15 years of competing internationally.
    I am currently running a sports club with my mother.
    I am seeking a part-time position in the organization 
    in which I can put into practice my knowledge and experience.
    I am eager to learn new things and I can work either independently or in a team.
  </ion-card-content>
</ion-card>
  <!-- ion-list and datetime picker. -->
<ion-list>
  <ion-item>
    <ion-label> Date of birth (select):</ion-label>
    <ion-datetime display-format="DD MMM YYYY"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>Place: Espoo, Finland</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Nationality: Finnish</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>School: Laurea University of Applied <div></div>Sciences, Leppävaara<p>Bachelor of Business Administration (BBA)</p> </ion-label>
  </ion-item>
</ion-list>

</ion-content>

