<ion-header>
  <!-- Sidemenu will show with this code. Inessa Rif 1901057 -->
  <ion-toolbar>
    <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
    </ion-buttons>
  <ion-title>
    Contact Information
  </ion-title>
</ion-toolbar>
</ion-header>
  <!-- ion-avatar component below. -->
<ion-content>
  <ion-list>
    <ion-list-header></ion-list-header>
    <ion-item>
      <ion-avatar slot="start">
        <img src="./assets/photo/email.png">
      </ion-avatar>
      <ion-label>Inessa.Rif@student.laurea.fi</ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="./assets/photo/place.png">
      </ion-avatar>
      <ion-label>
        Vermonkuja 2 E, 00370 <div></div>Helsinki, Finland 
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="./assets/photo/phone.jpg">
      </ion-avatar>
      <ion-label>
        (+358) 456701016   
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="./assets/photo/ig.png">
      </ion-avatar>
      <ion-label>
        www.instagram.com/_rifine   
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="./assets/photo/fb.jpg">
      </ion-avatar>
      <ion-label>
        www.facebook.com/Inessa-Rif    
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
