<ion-header>
    <!-- Sidemenu will show with this code. Inessa Rif 1901057 -->
  <ion-toolbar>
    <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
    </ion-buttons>
  <ion-title>
    Personal Project
  </ion-title>
</ion-toolbar>
</ion-header>

<ion-content>
    <!-- ion-card component. -->
  <ion-card>
    <img src="../../assets/photo/etusivu.PNG" />
    <ion-card-header>
      <ion-card-title>New website for the club</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Website design and creation for the client. Spring 2019. 
      (www.voimisteluseura.fi)
    </ion-card-content>
  </ion-card>
</ion-content>
